:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  background-color: #212529 !important;
}

.ls {
  text-align: center;
}

.ls-dash{
  text-align: center;
  color: #ddd;
}

label {
  display: block;
}

.form {
  width: 80%;
  max-width: 400px;
  /* Establecer un ancho máximo para evitar que el formulario se estire demasiado */
  margin: 5% auto;
  text-align: center;
  border: 1px solid #ddd;
  padding: 5%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

input[type="text"],
input[type="password"] {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 10px 0;
}

input[type="button"],
button {
  background-color: rgb(39, 131, 212);
  padding: 10px;
  border: 0;
  min-width: 100px;
  color: white;
  cursor: pointer;
}

.navbar {
  background-color: #3f88c5;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  font-size: 120%;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-right: 10%;
}

.navbar ul li {
  display: inline-block;
  padding: 10px;
}

.dashboard {
  width: 80%;
  margin: auto;
}

.errorMessage {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
}

.float {
  transition: .5s, color .10s;
  -webkit-transition: .5s, color .10s;
  -moz-transition: .5s, color .10s;
}

.float:hover {
  box-shadow: 0 8px 8px 0 #457b9d, 0 8px 8px 0 #457b9d;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
}

.pr{
  color: #ddd;
  text-align: center;
}

.th{
  text-align: center;
}
